.navbar-expand-sm .navbar-collapse {
    justify-content: center;
}

.body {

    background: ghostwhite;

}

.menu {
    margin-top: 0px;
    /*
    background: linear-gradient(
            to left,
            rgb(20, 228, 255) 0%,
            rgb(17, 0, 255) 60%,
            rgb(6, 214, 172) 100% )
    bottom #f8f9fa no-repeat;*/

    background: linear-gradient(to right, #924BFD 50%, #08D8D8);

}

nav, ul, li {
    color: #ffffff !important;
}

.nav-link {

    color: #ffffff !important;
    letter-spacing: 0.1rem;
}
.nav-link:hover, .nav-link:focus {

color:  rgba(255,255,255,.55) !important;
}
.navbar {
    box-shadow: 1px 1px 12px #555;
}

.btn_send {
    margin-top: 25px;
}

.wrapper {
    width: 100%;
    max-width: 31.25rem;
    margin: 0rem auto;
}

.label {
    font-size: .625rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +1.3px;
    margin-bottom: 1rem;
}

.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchQueryInput {
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

#searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#searchQuerySubmit:hover {
    cursor: pointer;
}

#displayResult {

    text-align: left;

}

.dataTables_wrapper  {

    margin: 75px 0px 150px 0px;

}

.cardy {

    /*padding: 150px 0px 150px 0px;*/

    background-image: radial-gradient(circle at 100% 100%, transparent -1px, #924bfd -1px, #924bfd 1px, transparent 1px), linear-gradient(to right, #924bfd, #08d8d8), radial-gradient(circle at 0% 100%, transparent -1px, #08d8d8 -1px, #08d8d8 1px, transparent 1px), linear-gradient(to bottom, #08d8d8, #00d8d8), radial-gradient(circle at 0% 0%, transparent -1px, #00d8d8 -1px, #00d8d8 1px, transparent 1px), linear-gradient(to left, #00d8d8, #924bfd), radial-gradient(circle at 100% 0%, transparent -1px, #924bfd -1px, #924bfd 1px, transparent 1px), linear-gradient(to top, #924bfd, #924bfd);
    background-size: 1px 1px, calc(100% - 2px) 2px, 1px 1px, 2px calc(100% - 2px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
    text-align: center;
    margin-left: 12.5%;
    padding-bottom: 2.5%;
    margin-top: 2.5%;
    padding-top: 2.5%;
    box-shadow: 1px 1px 5px #555;
}

.cardy:hover {
    box-shadow: 1px 1px 12px #555;
}


#myChart {

    margin-bottom: 35px;
    margin-top: 35px;



}
.foot {
    text-align: center;
    background: #f5f5f5;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    position: fixed;
}


/*LOADER*/

@keyframes ldio-v4u36a3b2mm {
    0%    { transform: translate(2px,2px) }
    33.33% { transform: translate(102px,2px) }
    66.66% { transform: translate(42px,102px) }
    100%    { transform: translate(2px,2px) }
}


.ldio-v4u36a3b2mm > div {
    transform: scale(0.74);
    transform-origin: 100px 100px;
}

.ldio-v4u36a3b2mm > div > div {
    animation: ldio-v4u36a3b2mm 0.8695652173913042s linear infinite;
    position: absolute
}

.ldio-v4u36a3b2mm > div > div div:nth-child(1) {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 12px solid #08d8d8;
    background: #924bfd
}

.ldio-v4u36a3b2mm > div > div div:nth-child(2) {
    width: 17px;
    height:  51px;
    transform: rotate(-45deg);
    background: #08d8d8;
    border-radius: 0 0 8px 8px;
    position: absolute;
    top: 68px;
    left: 85px
}
.loadingio-spinner-magnify-x19nng8hmn {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}
.ldio-v4u36a3b2mm {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-v4u36a3b2mm div { box-sizing: content-box; }
/* generated by https://loading.io/ */
